@use "constants" as *;

a {
  color: var(--color-red-dark);
}

p {
  margin-bottom: 1rem;
}

ul.list-disc {
  padding-left: 1rem;
}

strong {
  background: var(--color-black);
  color: var(--color-white);
  padding-right: 2px;
  padding-left: 2px;
}

button {
  background: var(--color-black);
  color: var(--color-white);
  border-radius: 0;
}
