.back-to-top {
  opacity: 1;
  transition: opacity 0.5s, visibility 0.5s;
  position: fixed;
  z-index: 99;
  right: 20px;
  user-select: none;
  bottom: 20px;
  color: white;
  background-color: black;
  cursor: pointer;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }
}
