@use "colors";

nav {
  z-index: 200;
  transition: all 0.5s ease;
}

a.nav-li {
  font-size: 40px;

  &:hover {
    background: colors.$black;
    opacity: 0.5;
  }
}

nav.nav--smaller {
  transition: all 0.5s ease;

  .logo {
    transition: all 0.5s ease;
    height: 50px !important;
  }
}

ul.nav-ul {
  background: colors.$black !important;
  border: none;
  border-radius: 0;
  height: 100vh;
}

button.burger {
  background: colors.$black;
  color: colors.$white !important;
  border-radius: 0 !important;
  border: 2px solid colors.$grey !important;

  &:hover,
  &:focus,
  &:active {
    background: colors.$black;
    color: colors.$white !important;
    border: 2px solid colors.$grey !important;
  }
}
@media only screen and (min-width: 768px) {
  ul.nav-ul {
    border: none;
    height: auto;
  }
  a.nav-li {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    height: auto;
  }
  a.nav-li {
    border-right: 1px solid colors.$white !important;
    padding: 0 5px;
    margin: 0 5px;
    border-left: 1px solid colors.$white !important;
    border-radius: 0;

    &:hover,
    &--active {
      border-right: none !important;
      border-left: none !important;
      padding: 0;
      margin: 0;

      &:before,
      &:after {
        content: "\2193";
      }
    }
  }
}
