@use "tailwindcss";
@use "styles/helper";
@use "styles/colors";
@use "styles/article";
@use "styles/buttons";
@use "styles/image-gallery";
@use "styles/navigation";
@use "styles/grid";
@use "styles/footer";

$navbar-height: 100px;
$navbar-height--mobile: 60px;

body {
  font-family: "Courier New", Courier, FreeMono, monospace;
  font-size: 18px;
  background: colors.$black;
  color: colors.$black;
}

/* The article fills all the space between header & footer */
body {
  display: flex;
  flex-direction: column;
}

.container {
  padding: 0 1rem;
}

.ft-container {
  margin: 1rem auto auto;
}

a {
  color: darkred;
}

p {
  margin-bottom: 1rem;
}

ul.list-disc {
  padding-left: 1rem;
}

strong {
  background: colors.$black;
  color: colors.$white;
  padding-right: 2px;
  padding-left: 2px;
}

h1,
h2,
h4,
h5,
h6 {
  background: colors.$black;
  color: colors.$white !important;
  display: table;
  width: auto !important;
  padding: 0 0.5rem;
  font-weight: bold !important;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
}

.section {
  padding-top: $navbar-height--mobile;
  padding-bottom: 2.5rem;
}

nav,
footer {
  background: colors.$black !important;
  color:  colors.$white;
  font-size: 16px;
}

nav li a,
footer li a {
  color: colors.$white !important;
}

button {
  background:colors.$black;
  color: colors.$white;
  border-radius: 0;
}

.logo {
  transition: all 0.5s ease;
  height: 40px !important;
}

@media only screen and (min-width: 1024px) {
  body {
    font-size: 20px;
  }
  .logo {
    height: 80px !important;
  }
  .section {
    padding-top: $navbar-height;
    padding-bottom: 1rem;
  }
}
